---
import Github from "./icons/Github.astro";
import LinkedIn from "./icons/LinkedIn.astro";
---

<header>
  <nav class="backdrop-blur-md bg-dark-900/30 fixed w-full z-20 top-0 left-0">
    <div
      class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto px-4 py-2"
    >
      <a href="/" class="text-xl md:text-2xl font-semibold">
        Jbarrera094.<span class="text-blue-600 font-bold">_</span>
      </a>

      <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
        <ul class="flex gap-x-2 py-2">
          <li>
            <a
              href="https://www.linkedin.com/in/jbarrera094"
              target="_blank"
              rel="noopener noreferrer"
            >
              <LinkedIn
                class="size-5 md:size-6 text-second-title hover:text-white ase-in duration-300"
              />
            </a>
          </li>
          <li>
            <a
              href="https://github.com/jbarrera094"
              target="_blank"
              rel="noopener noreferrer"
            >
              <Github
                class="size-5 md:size-6 text-second-title hover:text-white ase-in duration-300"
              />
            </a>
          </li>
        </ul>

        <button
          data-collapse-toggle="navbar-sticky"
          type="button"
          class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
          aria-controls="navbar-sticky"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 17 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 1h15M1 7h15M1 13h15"></path>
          </svg>
        </button>
      </div>

      <div
        class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
        id="navbar-sticky"
      >
        <ul
          class="flex flex-col text-center p-4 md:p-0 mt-4 font-medium md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 text-gray-50 md:text-second-title"
        >
          <li>
            <a
              href="/#experience"
              class="block py-2 px-3 md:p-0 hover:text-blue-600 ase-in duration-300"
              aria-current="page">Experience</a
            >
          </li>
          <li>
            <a
              href="/#projects"
              class="block py-2 px-3 md:p-0 hover:text-blue-600 ase-in duration-300"
              >Projects</a
            >
          </li>
          <li>
            <a
              href="/#skills"
              class="block py-2 px-3 md:p-0 hover:text-blue-600 ase-in duration-300"
              >Skills</a
            >
          </li>
          <li>
            <a
              href="/#about-me"
              class="block py-2 px-3 md:p-0 hover:text-blue-600 ase-in duration-300"
              >About Me</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
