---
import SectionContainer from "./SectionContainer.astro";
import Code from "./icons/Code.astro";

// Icons for Frontend
import NextJS from "./icons/frontend/NextJS.astro";
import React from "./icons/frontend/React.astro";
import Angular from "./icons/frontend/Angular.astro";
import AstroFramework from "./icons/frontend/AstroFramework.astro";
import Bootstrap from "./icons/frontend/Bootstrap.astro";
import Tailwind from "./icons/frontend/Tailwind.astro";
import Css from "./icons/frontend/Css.astro";

// Icons for Backend
import NodeJS from "./icons/backend/NodeJS.astro";
import Django from "./icons/backend/Django.astro";
import Spring from "./icons/backend/Spring.astro";
import NestJS from "./icons/backend/NestJS.astro";
import Laravel from "./icons/backend/laravel.astro";
import MongoDB from "./icons/backend/MongoDB.astro";
import MySQL from "./icons/backend/MySQL.astro";
import SQLServer from "./icons/backend/SQLServer.astro";
import Rust from "./icons/backend/Rust.astro";

// Icons for Cloud
import AWS from "./icons/cloud/AWS.astro";
import Azure from "./icons/cloud/Azure.astro";
import Gcloud from "./icons/cloud/Gcloud.astro";
import Cloudflare from "./icons/cloud/Cloudflare.astro";
import DigitalOcean from "./icons/cloud/DigitalOcean.astro";
import Vercel from "./icons/cloud/Vercel.astro";
import YAML from "./icons/cloud/YAML.astro";

// Icons for Tools
import Git from "./icons/tools/Git.astro";
import Postman from "./icons/tools/Postman.astro";
import Docker from "./icons/tools/Docker.astro";
import AdobeXD from "./icons/tools/AdobeXD.astro";
import Figma from "./icons/tools/Figma.astro";
import Notion from "./icons/tools/Notion.astro";
import VSCode from "./icons/tools/VSCode.astro";
---

<SectionContainer id="skills" title="Skills" class="mt-8 md:mt-20 md:mb-20">
  <h2 class="flex gap-2 text-white text-2xl font-semibold items-center mb-2">
    <Code class="size-8" />
    <span>Skills</span>
  </h2>

  <p class="mb-6 md:mb-10 text-pretty">
    Throughout my journey in web development, I have gained solid experience and
    skills in various technologies. My tech stack includes:
  </p>

  <section
    class="flex flex-col md:flex-row items-center gap-4 md:gap-0 md:justify-around"
  >
    <!-- FrontEnd -->
    <div
      class="flex flex-col justify-between w-96 h-96 bg-slate-800 p-8 rounded-md"
    >
      <span class="text-center font-medium text-2xl">Frontend</span>
      <ul class="grid grid-cols-3 grid-flow-row gap-y-8">
        <li class="flex flex-col items-center space-y-1">
          <NextJS class="size-12" />
          <span class="text-sm">Next.JS</span>
        </li>
        <li class="flex flex-col items-center space-y-1">
          <React class="size-12" />
          <span class="text-sm">React</span>
        </li>
        <li class="flex flex-col items-center space-y-1">
          <Angular class="size-12" />
          <span class="text-sm">Angular</span>
        </li>
        <li class="flex flex-col items-center space-y-1">
          <AstroFramework class="size-12" />
          <span class="text-sm">Astro</span>
        </li>
        <li class="flex flex-col items-center space-y-1">
          <Bootstrap class="size-12" />
          <span class="text-sm">Bootstrap</span>
        </li>
        <li class="flex flex-col items-center space-y-1">
          <Tailwind class="size-12" />
          <span class="text-sm">Tailwind</span>
        </li>
        <li class="flex flex-col items-center space-y-1">
          <Css class="size-12" />
          <span class="text-sm">CSS</span>
        </li>
      </ul>
    </div>
    <!-- Backend -->
    <div
      class="flex flex-col justify-between w-96 h-96 bg-slate-800 p-8 rounded-md"
    >
      <span class="text-center font-medium text-2xl">Backend</span>
      <ul class="grid grid-cols-3 grid-flow-row gap-y-8">
        <li class="flex flex-col items-center space-y-1">
          <NodeJS class="size-12" />
          <span class="text-sm">Node.JS</span>
        </li>
        <li class="flex flex-col items-center space-y-1">
          <Django class="size-12" />
          <span class="text-sm">Django</span>
        </li>
        <li class="flex flex-col items-center space-y-1">
          <Spring class="size-12" />
          <span class="text-sm">Spring</span>
        </li>
        <li class="flex flex-col items-center space-y-1">
          <NestJS class="size-12" />
          <span class="text-sm">Nest.JS</span>
        </li>
        <li class="flex flex-col items-center space-y-1">
          <Laravel class="size-12" />
          <span class="text-sm">Laravel</span>
        </li>
        <li class="flex flex-col items-center space-y-1">
          <MongoDB class="size-12" />
          <span class="text-sm">MongoDB</span>
        </li>
        <li class="flex flex-col items-center space-y-1">
          <MySQL class="size-12" />
          <span class="text-sm">MySQL</span>
        </li>
        <li class="flex flex-col items-center space-y-1">
          <SQLServer class="size-12" />
          <span class="text-sm">SQL Server</span>
        </li>
        <li class="flex flex-col items-center space-y-1">
          <Rust class="size-12" />
          <span class="text-sm">Rust</span>
        </li>
      </ul>
    </div>
  </section>

  <section
    class="mt-4 md:mt-8 flex flex-col md:flex-row items-center gap-4 md:gap-0 md:justify-around"
  >
    <!-- Cloud -->
    <div
      class="flex flex-col justify-between w-96 h-96 bg-slate-800 p-8 rounded-md"
    >
      <span class="text-center font-medium text-2xl">Cloud</span>
      <ul class="grid grid-cols-3 grid-flow-row gap-y-8">
        <li class="flex flex-col items-center space-y-1">
          <AWS class="size-12" />
          <span class="text-sm">AWS</span>
        </li>
        <li class="flex flex-col items-center space-y-1">
          <Azure class="size-12" />
          <span class="text-sm">Azure</span>
        </li>
        <li class="flex flex-col items-center space-y-1">
          <Gcloud class="size-12" />
          <span class="text-sm">Gcloud</span>
        </li>
        <li class="flex flex-col items-center space-y-1">
          <Cloudflare class="size-12" />
          <span class="text-sm">Cloudflare</span>
        </li>
        <li class="flex flex-col items-center space-y-1">
          <DigitalOcean class="size-12" />
          <span class="text-sm">DigitalOcean</span>
        </li>
        <li class="flex flex-col items-center space-y-1">
          <Vercel class="size-12" />
          <span class="text-sm">Vercel</span>
        </li>
        <li class="flex flex-col items-center space-y-1">
          <YAML class="size-12" />
          <span class="text-sm">YAML</span>
        </li>
      </ul>
    </div>

    <!-- Tools -->
    <div
      class="flex flex-col justify-between w-96 h-96 bg-slate-800 p-8 rounded-md"
    >
      <span class="text-center font-medium text-2xl">Tools</span>
      <ul class="grid grid-cols-3 grid-flow-row gap-y-8">
        <li class="flex flex-col items-center space-y-1">
          <Git class="size-12" />
          <span class="text-sm">Git</span>
        </li>
        <li class="flex flex-col items-center space-y-1">
          <Postman class="size-12" />
          <span class="text-sm">Postman</span>
        </li>
        <li class="flex flex-col items-center space-y-1">
          <Docker class="size-12" />
          <span class="text-sm">Docker</span>
        </li>
        <li class="flex flex-col items-center space-y-1">
          <AdobeXD class="size-12" />
          <span class="text-sm">Adobe XD</span>
        </li>
        <li class="flex flex-col items-center space-y-1">
          <Figma class="size-12" />
          <span class="text-sm">Figma</span>
        </li>
        <li class="flex flex-col items-center space-y-1">
          <Notion class="size-12" />
          <span class="text-sm">Notion</span>
        </li>
        <li class="flex flex-col items-center space-y-1">
          <VSCode class="size-12" />
          <span class="text-sm">VS Code</span>
        </li>
      </ul>
    </div>
  </section>
</SectionContainer>
